.top-menu{
  display: flex;
  align-content: center;
  height: 2.35rem;
  background-color: rgb(243,244,246);
  div{
    flex: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .top-menu-setting{
    width: 0.65rem;
    height: 0.65rem;
    background-image: url("@/Img/setting.png");
  }
  .top-menu-date{
    text-align: center;
  }
  .top-menu-serch{
    width: 0.56rem;
    height: 0.56rem;
    background-image: url("@/Img/serch.png");
  }
}