@import 'variable';
.calendar{
  //height: 13.88rem;
  //overflow: hidden;
  .cd-head{
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
  }
  .cd-content{
    //height: 2.6rem;
    border-bottom: 1px solid $grey;
  }
  .cd-head, .cd-content{
    display: flex;
    div{
      flex: 1;
      border-left: 1px solid $grey;
    }
    div:first-child{
      border-left: none;
    }
  }
  .cd-day-box-active{
    background-color: $lightBlue;
  }
  .cd-day-box-click-active{
    margin-bottom: -1px;
    background-color: $lightGrey;
  }
  .cd-sch-detail{
    border-bottom: 1px solid $grey;
    background-color: $lightGrey;
    position: relative;
    .cd-sch-detail-add{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      height: 16px;
      font-size: 16px;
      line-height: 100%;
    }
  }
}